@charset "UTF-8";

*{
    height: auto;
    width: auto;
}
h1{
    background-color: brown;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    margin: 0 auto;

}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    color: rgb(18, 38, 224);
}
a:hover{
    text-decoration: underline;
    color: brown;

}
