table{
    min-width: 40%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    padding: 10px;
}
#id{
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    text-shadow: 2px 2px 2px black;;
    font-weight: bolder;
    text-align: center;
}
 .resultado{
    text-align: center;
 }